.container {
  display: flex;
  flex-direction: column;
  > div {
    width: 200px;
    height: 200px;

    &:nth-child(1) {
      background-color: red;
      margin-block: 20px; /*y축 margin margin: 20px 0;*/
    }

    &:nth-of-type(2) {
      background-color: yellowgreen;
      margin-block-start: 20px;
    }

    &:nth-of-type(n + 3) {
      background-color: chocolate;
      margin-block-end: 20px;
    }

    &:last-of-type {
      background-color: springgreen;
    }
  }

  &:nth-of-type(2) {
    width: 100%;
    flex-direction: row;
    margin-top: 100px;
    > div {
      &:nth-child(1) {
        margin-block: 0;
        margin-inline: 20px; /*x축 margin margin: 0 20px;*/
      }

      &:nth-of-type(2) {
        margin-block-start: 0;
        padding-block: 20px; /*y축 padding padding: 20px 0;*/
      }

      &:nth-of-type(n + 3) {
        margin-block-end: 0;
        padding-inline: 20px; /*x축 padding padding: 0 20px;*/
      }
      /*start end 동일*/
    }
  }
}
